<% include ../partials/header %>
<div class="container">
    <h1>Book : <%=detail.book_name%></h1>
    <form action="/classsave" method="POST">

        <div class="form-group">
          <label for="">ID</label>
          <input type="text" class="form-control" value="<%=detail.book_id%>" name="id" id="" aria-describedby="helpId" readonly
            placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" value="<%=detail.book_name%>" name="name" id="" readonly
            aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="form-group">
          <label for="">Price</label>
          <input type="text" class="form-control" value="<%=detail.price%>" name="room" id="" aria-describedby="helpId" readonly
            placeholder="">
          <small id="helpId" class="form-text text-muted">Help text</small>
        </div>
        <div class="form-group">
            <label for="">Year</label>
            <input type="text" class="form-control" value="<%=detail.year%>" name="room" id="" aria-describedby="helpId" readonly
              placeholder="">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
          <a name="" id="" class="btn btn-primary" href="/book" role="button">Back</a>
      </form>


   
</div>
<% include ../partials/footer %>